/* The following styles size, place, and layer the slide components.
   Edit these if you want to change the overall slide layout.
   The commented lines can be uncommented (and modified, if necessary) 
    to help you with the rearrangement process. */

/* target = 1024x768 */

div#header, div#footer  {width: 100%;  left: 0;}
div#header {padding-left:10px; padding-top:5px; top: 0; height: auto; z-index: 1;}
div#footer {padding-left:10px;  top: auto; bottom: 0; height: 1em; z-index: 5;}

.presentation {margin-left:10px; padding:20px;}
.slide {top: 2.5em; width: 92%;  z-index: 2;  list-style: none;}

.slide xh1 {position: absolute; top: 0.7em; left: 87px; z-index: 1;
  margin: 0; padding: 0.3em 0 0 50px; white-space: nowrap;
  font: bold 150%/1em Helvetica, sans-serif; text-transform: capitalize;
  color: #DDE; background: #005;}


div#controls {left: 50%; bottom: 0; width: 50%; z-index: 100;}
div#controls form {text-align: right; width: 100%; margin: 0;}
#currentSlide {position: absolute; width: 10%; left: 45%; bottom: 1em; z-index: 10;}
html>body #currentSlide {position: fixed;}

/*
div#header {background: #FCC;}
div#footer {background: #CCF;}
div#controls {background: #BBD;}
div#currentSlide {background: #FFC;}
*/
