<html><head><title>${repository_name} - ${title}</title>
<properties>
name=Left Navigation
id=left
ramadda.template.sublink.wrapper=<div class="subnav-left">${sublinks}</div>
ramadda.template.sublink.on=<div class="subnavoncomp-left">${label}</div>
ramadda.template.sublink.off=<div class="subnavoffcomp-left"><a href="${url}">${label}</a></div>
</properties>

<link rel="stylesheet" href="${root}/style.css" type="text/css">

<script language="JavaScript1.2" src="${root}/repository.js"></script>
<script language="JavaScript1.2" src="${root}/CalendarPopup.js"></script>


</head>
<body>
<table style="background-repeat: no-repeat; background-image:url(${header.image});" class="header-left" background="${header.image}" width="100%" cellspacing="0" cellpadding="0" border="0" >
<tr valign="bottom">

<td width=25%>
<span class="nav-left">${links}</span>
</td>


<td width=50% align=center>
<span  class="header-left-title">${header.title}</span>
</td>


<td width=25% align="right" >
<span class="nav-left">${userlink}&nbsp;</span>
</td>
</tr>
</table>
<table border=0 cellspacing=0 cellpadding=0 width=100%>
<tr valign=top><td  width=100><div class="subnav-left">${sublinks}</div></td>
<td><div class="content">
${entry.header}
${content}</div>
</td></tr></table>
<div class="footer">${footer}</div>
${bottom}
</body></html>
