<html><head><title>${repository_name} - ${title}</title>
<link rel="stylesheet" href="${root}/style.css" type="text/css">
<script language="JavaScript1.2" src="${root}/repository.js"></script>
<script language="JavaScript1.2" src="${root}/CalendarPopup.js"></script>


<properties>
name=Tabs
id=tabs
ramadda.template.sublink.wrapper=<div class="subnav">${sublinks}</div>
ramadda.template.sublink.on=<span  class="subnavoncomp"><img class="curve" src="${root}/icons/blc.gif">${label}<img class="curve" src="${root}/icons/brc.gif"></span>
ramadda.template.sublink.off=<span  class="subnavoffcomp"><a href="${url}">${label}</a></span>
</properties>
</head>
<body>
<table style="background-repeat: no-repeat; background-image:url(${header.image});" class="header" background="${header.image}" width="100%" cellspacing="0" cellpadding="0" border="0" >
<tr valign="bottom">

<td width=25%>
<span class="nav">${links}</span>
</td>

<td width=50% align=center>
<span  class="header-title">${header.title}</span>
</td>


<td width=25% align="right">
<span class="nav">${userlink}&nbsp;</span>
</td>

</tr>
</table>


${sublinks}

<div class="content">
${entry.header}
${content}</div>
<div class="footer">${footer}</div>
${bottom}
</body></html>
