
body {
   font-weight: normal;
   font-size: 10pt;
   font-family: Arial, Helvetica, sans-serif;
   color: black;
   margin: 0px;
}



A {
   color: #0000FF;
   text-decoration: none;
}

A:link {
   color: #0000FF;
}


a:hover {
   color: #FF0000;
   text-decoration: underline;
}



.header {
  border-bottom : 1px #444466 solid;
  background-repeat: no-repeat;
  background-color:#006699;
  color: white;
  padding-top:3px;
  padding-left:5px;
  padding-right:5px;
}

a.header  {
	color:white;
}

.header a:hover  {
	color:red;
}

.subnav a:hover  {
	color:red;
}

.header a {
	color:white;
}


.headercontent {
  font-size: 20pt;
  color: white;
}


.nav {
   font-size: 10pt;
   font-weight: bold;
   color: black;
}


.subnav {
   font-size: 10pt;
   padding-left:5;   
   padding-top:3;   
   background-color : #cccccc;
   font-weight: bold;
   color: black;
}


.subnavoncomp  {
   background-color : #ffffff;
   padding-left:6;   
   padding-right:6;   
   color:#555555;
}

.subnavoffcomp  {
   padding-left:6;   
   padding-right:6;   
   margin:0;
}

.subnavoffcomp  a {
   color:#555555;
}

a.subnavoffcomp  {
   color:#555555;
}

.subnavoffcomp a:visited {
   color:#555555;
}


.subnavoffcomp a:hover {
   color:red;
}




.content {
    margin:5;
}



td {
   font-weight: normal;
   font-size: 10pt;
   font-family: Arial, Helvetica, sans-serif;
}

.separator {
   font-weight: bold;
   font-size: 12pt;
}


ul {
   margin-top:5px;
}







.smallmessage {
  font-size: 8pt;
  font-style: italic;
}



.tooltip {
   border : 1px black solid;
   background-color : #FFFFCC;
   position: absolute; 
   visibility: hidden; 
   z-index: 1;
}


.menu a:hover {
   text-decoration: underline;
}

a.menulink {
   text-decoration: none;
   color:black;
}

.menu {
   padding:1px;
   text-decoration: none;
   border : 1px black solid;
   background-color : #FFFFCC;
   position: absolute; 
   visibility: hidden; 
   z-index: 1;

}


.floatdiv {
   position: absolute; 
   visibility: hidden; 
   z-index: 1;
   color: gray;
}







.pageheading {
  font-size: 12pt;
  font-weight: bold;
  color: #9C9C9C;
}


.breadcrumbs {
   text-decoration: none;
   font-weight: bold;
   font-size: 12pt;
   color: black;
   margin-bottom:0px;
}

.breadcrumbs a {
   text-decoration: none;
   color: black;
}

.breadcrumbs a:hover {
   text-decoration: underline;
   color: red;
}


.entryheader {
   font-weight: bold;
   font-size: 10pt;
   color: #9C9C9C;
   border-bottom : 1px #aabbaa solid;
}


.entryname a:hover {
	color:red;
}

.entryname a {
   color: #9C9C9C;
}

.entryname {
   padding-left:15px;
   font-weight: bold;
   font-size: 12pt;
   color: #9C9C9C;
   vertical-align: bottom;
}

.hideshowblock {
   margin-top:5px;
}

.block {
   margin-top:5px;
}


.folderblock {
   margin:0px;
   padding:0px;
   padding-left:18px;
}

.folderblock li {
   margin-top:1px;
}

.pagesubheading {
   margin:0px;
   padding:0px;
   padding-bottom: 0px;
   padding-left: 5px;
   padding-top: 0px;
   font-weight: bold;
   vertical-align: bottom;
   font-size: 12pt;
}



a.pagesubheadinglink {
   color:black;
   xfont-weight: bold;
   text-decoration: none;
}


a.pagesubheadinglink:visited {
   text-decoration: none;
}



form {
    margin:0px;
    padding: 0px;
}

.formlabel {
  font-weight: bold;
}






.formgroupheader {
   background-color : #ccccCC;
   font-size: 10pt;
   font-weight: bold;
   padding-left: 5px;
   padding-top: 5px;
}





.innernote {
   padding-top:10px;
}

.note {
  z-index: 1;
  margin:10px;
  padding-bottom:5px;
  padding-left:5px;
  border : 1px black solid;
  background-color : #FFFFCC;
}

.notetext {
}



.calheader {
   background-color : lightblue;
   font-weight: bold;
}

.calday {
   font-weight: bold;
   font-size: 8pt;
}

.calentry {

}




.cpYearNavigation,
	.cpMonthNavigation
			{
			background-color:#006699;
			xxxbackground-color:#6677DD;
			text-align:center;
			vertical-align:center;
			text-decoration:none;
			color:#FFFFFF;
			font-weight:bold;
			}
	.cpMonthNavigation  a {
        color: white;
        }
	.cpDayColumnHeader,
	.cpYearNavigation,
	.cpMonthNavigation,
	.cpCurrentMonthDate,
	.cpCurrentMonthDateDisabled,
	.cpOtherMonthDate,
	.cpOtherMonthDateDisabled,
	.cpCurrentDate,
	.cpCurrentDateDisabled,
	.cpTodayText,
	.cpTodayTextDisabled,
	.cpText
			{
			font-family:arial;
			font-size:8pt;
			}


	TD.cpDayColumnHeader
			{
			text-align:right;
			border:solid thin #6677DD;
			border-width:0 0 1 0;
			}
	.cpCurrentMonthDate,
	.cpOtherMonthDate,
	.cpCurrentDate
			{
			text-align:right;
			text-decoration:none;
			}
	.cpCurrentMonthDateDisabled,
	.cpOtherMonthDateDisabled,
	.cpCurrentDateDisabled
			{
			color:#D0D0D0;
			text-align:right;
			text-decoration:line-through;
			}
	.cpCurrentMonthDate
			{
			color:#6677DD;
			font-weight:bold;
			}
	.cpCurrentDate
			{
			color: #FFFFFF;
			font-weight:bold;
			}
	.cpOtherMonthDate
			{
			color:#808080;
			}
	TD.cpCurrentDate
			{
			color:#FFFFFF;
			background-color: #6677DD;
			border-width:1;
			border:solid thin #000000;
			}
	TD.cpCurrentDateDisabled
			{
			border-width:1;
			border:solid thin #FFAAAA;
			}
	TD.cpTodayText,
	TD.cpTodayTextDisabled
			{
			border:solid thin #6677DD;
			border-width:1 0 0 0;
			}
	A.cpTodayText,
	SPAN.cpTodayTextDisabled
			{
			height:20px;
			}
	A.cpTodayText
			{
			color:#6677DD;
			font-weight:bold;
			}
	SPAN.cpTodayTextDisabled
			{
			color:#D0D0D0;
			}
	.cpBorder
			{
			border:solid thin #6677DD;
			}