
body {
   font-weight: normal;
   font-size: 10pt;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
   margin: 0px;
}

td {
   font-weight: normal;
   font-size: 10pt;
   font-family: Arial, Helvetica, sans-serif;

}

ul {
   margin-top:5px;
}


.content {
    margin:10;
    margin-top:5;
}

xform {
    margin:10;
}






A {
   color: #0000FF
}

A:link {
   color: #0000FF
}



a:hover {
   color: #FF0000;
   text-decoration: underline
}

A {xtext-decoration: none}


.header {
   background-color:#006699;
}


.pageheading {
  font-size: 16pt;
  font-weight: bold;
  color: #9C9C9C;
}

.breadcrumbs {
   text-decoration: none;
   font-size: 14pt;
   color: black;
}

.breadcrumbs a {
   text-decoration: none;
   color: black;
}

.breadcrumbs a:hover {
   text-decoration: underline;
   color: red;
}


.entryheader {
   padding:0px;
   margin:0px;
   margin-top:5px;
   margin-left:0px;
   font-weight: bold;
   font-size: 16pt;
   color: #9C9C9C;
}






.pagesubheading {
   margin:0px;
   padding:0px;
   padding-bottom: 0px;
   padding-left: 5px;
   padding-top: 2px;
   font-weight: bold;
   background-color: #9C9C9C;
   vertical-align: bottom
}


a.pagesubheadinglink {
   color:white;
   font-size: 10pt;
   font-weight: bold;
   text-decoration: none;
}


a.pagesubheadinglink:visited {
   text-decoration: none;
   color: #FFFFFF;
}


a.navtitle:visited {
   text-decoration: none;
   color: #FFFFFF;
}

.formlabel {
  font-weight: bold;
}

a.navlink {
  text-decoration: none;
  color:#ffffff;
  font-size: 10pt;
  font-weight: bold;
}






.navnolink {
  font-size: 12pt;
  font-weight: bold;
  color:black;
}




.note {
   font-weight: bold;
   margin:10px;
   padding-top:5px;
   padding-bottom:5px;
   padding-left:5px;
   padding-right:10px;
   border : 1px black solid;
   background-color : #FFFFCC;
}

.nav {
   margin:0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12pt;
   border : 0px black solid;
   background-color : #77aa77;
   border-bottom : 1px #666666 solid;
   padding-top:4;
   padding-bottom:0;
   padding-left:5;
   color: #FFFFFF;
}


.subnav {
   font-family: Arial, Helvetica, sans-serif;
   xfont-size: 10pt;
   xfont-weight: bold;
   color: black;
   border-bottom : 1px #666666 solid;
   background-color : #aabbaa;
   margin:0;
   padding-top:1;   
   padding-bottom:0;
   padding-left:10;

}


.subnavnolink {
    font-family: Arial, Helvetica, sans-serif;  
}


a.subnavlink {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;  
    color:#ffffff;
}



.notetext {
   font-weight: bold;
}


