
body {
   font-weight: normal;
   font-size: 10pt;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
   margin: 0px;
}

td {
   font-weight: normal;
   font-size: 10pt;
   font-family: Arial, Helvetica, sans-serif;

}

.content {
    margin:10;
}

xform {
    margin:10;
}






A {
   color: #0000FF
}

A:link {
   color: #0000FF
}



a:hover {
   color: #FF0000;
   text-decoration: underline
}

A {xtext-decoration: none}


.header {
   background-color:#006699;
}


.pageheading {
  font-size: 16pt;
  font-weight: bold;
  color: #9C9C9C;
}




.pagesubheading {
   padding-left: 5px;
   padding-top: 5px;
   font-weight: bold;
   background-color: #9C9C9C;
   xbackground-color:#cccccc;
}


.pagesubheadinglink {
	color:white;
        font-size: 10pt;
        font-weight: bold;
        text-decoration: none;
}




a.navtitle:visited {
   text-decoration: none;
   color: #FFFFFF;
}

.formlabel {
  font-weight: bold;
}

a.navlink {
  text-decoration: none;
  color:#ffffff;
  font-size: 12pt;
  font-weight: bold;
}






.navnolink {
  font-size: 12pt;
  font-weight: bold;
  color:black;
}


.notetext {
   font-weight: bold;
}

.note {
   font-weight: bold;
   margin:10px;
   padding-bottom:0px;
   padding:5px;
   padding-left:5px;
   padding-right:10px;
   border : 1px black solid;
   background-color : #FFFFCC;
}

.nav {
   margin:0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12pt;
   border : 0px black solid;
   border-bottom : 1px #666666 solid;
   background-color : #77aa77;
   padding-top:1;
   padding-left:5;
   color: #FFFFFF;
}


.subnav {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10pt;
   font-weight: bold;
   border-bottom : 1px #666666 solid;
   background-color : #aabbaa;
   margin:0;
   padding-top:1;   
   padding-bottom:0;
   padding-left:10;
   color: black;
}


.subnavnolink {
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bold; 
    font-size: 10pt;
    color:black;
}



a.subnavlink {
   text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bold; 
    font-size: 10pt;
    color:#ffffff;
}


h2 {
   font-size: 14pt;
   font-family: Arial, Helvetica, sans-serif;
   color: #9C9C9C;
}

h3 {
   font-size: 12pt;
   font-family: Arial, Helvetica, sans-serif;
   color: #9C9C9C;
}


