
body {
   font-weight: normal;
   font-size: 10pt;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
   text-decoration: none;
   margin: 0px;
}


td {
   font-weight: normal;
   font-size: 10pt;
   font-family: Arial, Helvetica, sans-serif;
   color: black;
   text-decoration: none
}



.smallestTag {font-size: xx-small; }
.smallTag    {font-size: small; }
.mediumTag   {font-size: medium; }
.largeTag    {font-size: large; }
.largestTag  {font-size: xx-large; } 


A:link {
   font-family: Arial, Helvetica, sans-serif;
   color: #0000FF

}

A:visited {
   font-family: Arial, Helvetica, sans-serif;
   color: #A020F0
}

A:active {
   font-family: Arial, Helvetica, sans-serif;
   color: #FF0000;
}

a:hover {
   font-family: Arial, Helvetica, sans-serif;
   color: #FF0000;
   text-decoration: underline
}


A { text-decoration: none }



.navtitle:link {
   font-family: Arial, Helvetica, sans-serif;
   color: #FFFFFF;
}


.navtitle:hover {
   color: #FFFFFF;
   text-decoration: underline
}

.navtitle:visited {
   color: #FFFFFF;
}

.content {
	margin:10px;
}

a.navlink {
  color:#ffffff;
  font-weight: bold;
}


.nav {
   margin:0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11pt;
   xborder-top : 1px #666666 solid;
   border-bottom : 1px #666666 solid;
   background-color : #77aa77;
   padding-top:2;
   padding-left:5;
   color: #FFFFFF;
}


.subnav {
   margin:0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10pt;
   font-weight: bold;
   border-bottom : 1px #666666 solid;
   background-color : #888;
   padding-top:2;   
   padding-bottom:1;
   padding-left:10;
   color: #222222;
}


a.subnavlink {
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bold; 
    color:#ffffff;
}


h2 {
   font-size: 17pt;
   font-family: Arial, Helvetica, sans-serif;
   color: #9C9C9C;
}


