
body {
   font-weight: normal;
   font-size: 10pt;
   font-family: Arial, Helvetica, sans-serif;
   color: black;
   margin: 0px;
}


td {
   font-weight: normal;
   font-size: 10pt;
   font-family: Arial, Helvetica, sans-serif;
}

ul {
   margin-top:5px;
}


.content {
    margin:5;
}





A {
   color: #0000FF
}

A:link {
   color: #0000FF
}



a:hover {
   color: #FF0000;
   text-decoration: underline
}

A {
text-decoration: none
}





.tooltip {
   border : 1px black solid;
   background-color : #FFFFCC;
   position: absolute; 
   visibility: hidden; 
   z-index: 1;
}

.header {
   background-color:#006699;
}


.pageheading {
  font-size: 14pt;
  font-weight: bold;
  color: #9C9C9C;
}

.breadcrumbs {
   text-decoration: none;
   font-weight: bold;
   font-size: 12pt;
   color: black;
   margin-bottom:0px;
}

.breadcrumbs a {
   text-decoration: none;
   color: black;
}

.breadcrumbs a:hover {
   text-decoration: underline;
   color: red;
}


.entryheader {
   padding:0px;
   margin:0px;
   margin-left:0px;
   font-weight: bold;
   font-size: 12pt;
   color: #9C9C9C;
#border-bottom : 2px #9C9C9C solid;
   border-bottom : 2px #aabbaa solid;
}


.entryname {
   margin:0px;
   padding:0px;
   padding-left:10px;
   font-weight: bold;
   font-size: 12pt;
   color: #9C9C9C;
   vertical-align: bottom;
}

.hideshowblock {
   margin-top:5px;
}

.block {
   margin-top:5px;
}


.folderblock {
   margin:0px;
   padding:0px;
   padding-left:18px;
}

.folderblock li {
   margin-top:1px;
}

.pagesubheading {
   margin:0px;
   padding:0px;
   padding-bottom: 0px;
   padding-left: 5px;
   padding-top: 0px;
   font-weight: bold;
   vertical-align: bottom;
}



a.pagesubheadinglink {
   color:black;
   font-weight: bold;
   text-decoration: none;
}


a.pagesubheadinglink:visited {
   text-decoration: none;
}


a.navtitle:visited {
   text-decoration: none;
   color: #FFFFFF;
}

form {
	margin:0px;
	padding: 0px;
}

.formlabel {
  font-weight: bold;
}




.nav {
   font-size: 12pt;
   background-color : #77aa77;
   border-bottom : 1px #666666 solid;
   margin:0px;
   padding-top:4;
   padding-bottom:0;
   padding-left:5;
   color: black;
}


.subnav {
   font-size: 10pt;
   font-weight: bold;
   color: black;
   border-bottom : 1px #666666 solid;
   background-color : #aabbaa;
   margin:0;
   padding-top:1;   
   padding-bottom:0;
   padding-left:10;

}


.formgroupheader {
   background-color : #ccccCC;
   font-size: 10pt;
   font-weight: bold;
   padding-left: 5px;
   padding-top: 5px;
}


.subnavnolink {
   font-weight: bold;
}


a.subnavlink {
    font-weight: bold;
    text-decoration: none;
    color:#ffffff;
    font-size: 10pt;
}



a.navlink {
  text-decoration: none;
  color:#ffffff;
  font-size: 10pt;
  font-weight: bold;
}



.navnolink {
  font-size: 10pt;
  font-weight: bold;
  color:black;
}




.note {
   font-weight: bold;
   margin:10px;
   padding-top:5px;
   padding-bottom:5px;
   padding-left:5px;
   padding-right:10px;
   border : 1px black solid;
   background-color : #FFFFCC;
}




.notetext {
   font-weight: bold;
}


