
body {
   font-size: 12pt;
   font-family: sans-serif;
   color: black;
   margin: 0px;
}


a {
   color: #0000FF;
   text-decoration: none;
}

a:link {
   color: #0000FF;
}


a:hover {
   color: #FF0000;
   text-decoration: underline;
}


.footer {
   margin:10px;
   align:center;
   text-align:center;
}

.header {
  border-bottom : 1px black solid;
  background-repeat: no-repeat;
  background-color:#006699;
  color: white;
  padding-top:12px;
  padding-left:5px;
  padding-right:5px;
}


a.header  {
	color:white;
}

.header a:hover  {
	color:red;
}



.header a {
	color:white;
}



.header-content {
  color: white;
}

.smallhelp {
   font-size: 9pt;
}

.header-title {
  font-size: 200%;
  color: white;
}


.nav {
   font-weight: bold;
   color: black;
}


################################################################################
## Styles for the default template
################################################################################




.subnav a:hover  {
	color:red;
}

.subnav {
   padding-top:4;   
   padding-left:4;   
   background-color : #c3d9ff;
   font-weight: bold;
   color: black;
   border-bottom : 1px #666666 solid;
}





.curve {
   vertical-align: top;
}

.subnavoncomp  {
   background-color : #ffffff;
   border-bottom : 1px #FFFFff solid;
   color:#000000;
}

.subnavoffcomp  {
   color:#000000;
   padding-left:7;   
   padding-right:7;   
}







.subnavoffcomp  a {
   color:#000000;
}

a.subnavoffcomp  {
   color:#000000;
}

.subnavoffcomp a:visited {
   color:#000000;
}


.subnavoffcomp a:hover {
   color:red;
}



.header-left {
  border-bottom : 2px #888888 solid;
  background-color:#006699;
  color: white;
  padding-top:10px;
  padding-left:5px;
  padding-right:5px;
}

a.header-left  {
    color:white;
}

.header-left a:hover  {
    color:red;
}

.header-left-title {
  font-size: 200%;
  color: white;
}

.header-left a {
	color:white;
}

.nav-left {
   font-weight: bold;
   color: black;
}



.subnav-left {
   margin:0;
   padding:0;
   background-color : #c3d9ff;
   font-weight: bold;
   color: black;
   min-height: 500px;
}


.subnavoncomp-left  {
   font-weight: bold;
   border-bottom : 1px #666666 solid;
   color:#000000;
   margin:0;
   background-color : #ffffff;
   color:#000000;
   padding-left:5;   
   padding-top:2px;   
   padding-bottom:1px;   
}

.subnavoffcomp-left  {
   font-weight: bold;
   xcolor:#000000;
   color:red;
   border-bottom : 1px #666666 solid;
   margin:0;
   padding-left:5;   
   padding-top:2px;   
   padding-bottom:1px;   
   color:#000000;
}


.subnavoffcomp-left  a {
   color:#000000;
}


.subnavoffcomp-left a:visited {
   color:#000000;
}


.subnavoffcomp-left a:hover {
   color:red;
}







.content {
    xline-height: 1.4em;
    margin:5;
}




.wikicompare-deleted {
	background-color:red;
}

.wikicompare-changed {
	background-color:#ffffcc;
}

.wikicompare-context {
	background-color:white;
}

.wikicompare {
	background-color:white;
}

.wikicontent {
    xline-height: 1.5em;
}


.mapcanvas {
	width:200px;
	height:200px;
}

.calheader {
   background-color:#c3d9ff;
   font-weight: bold;
}

.calday {
   font-weight: bold;
   font-size: 8pt;
}

.calentry {
}

.calcontents {
	max-height: 150px; 
	overflow-y: auto;
	overflow-x: hidden;
}

.calnav {
}

.calnavmonthheader {
   text-align:center;
   background-color:#c3d9ff;
   font-weight: bold;
   font-size: 8pt;

}

.calnavdayheader {
   text-align:center;
   background-color:#c3d9ff;
   font-weight: bold;
   font-size: 8pt;
}

.calnavday {
   text-align:right;
   font-size: 8pt;
   background-color:#c3d9ff;
}

.calnavtheday {
   text-align:right;
   font-size: 8pt;
   background-color:white;
}

.calnavoffday {
   text-align:right;
   font-size: 8pt;
   background-color:#cccccc;
}



.browseblock  a {
   color:#000000;
}

.listrow1 {
   xbackground-color:#cccccc;
   padding:4px;
   padding-bottom:0px;
}

.listrow2 {
   xbackground-color:#efefef;
   background-color:#edf5ff;
   padding:4px;
   padding-bottom:0px;
}


.description {
   margin-left:20px;
   margin-botton:10px;
}


.browseblock {
   margin-left:20px;
   border: 2px #999999 solid; 
   max-width: 90%; 
   max-height: 150px; 
   overflow-y: auto;
   overflow-x: visible;

}

.scrollablediv {
   max-height: 350px; 
   overflow-y: auto;
}


td {
   font-weight: normal;
}

.separator {
   font-size: 12pt;
   font-weight: bold;
}


ul {
   margin-top:5px;
}

.tabtitles {
   xline-height: 1.15em;
   border-bottom : 2px #000000 solid;
}

.tabcontents {
   border-left : 1px #000000 solid;
   border-right : 1px #000000 solid;
   border-bottom : 1px #000000 solid;
}

.tabcontents_noborder {
}

.tabcontent_fixedheight {
   min-height: 100px;
   max-height: 200px; 
   overflow-y: auto;
   padding:5;
}


.tabcontent {
   min-height: 100px;
   padding:5;
}


.tabtitleon {
}

.tabtitleoff {
   background-color:white;
}

.tabtitle {
        background-color:#ffffff;
	border: 1px #000000 solid;
        font-weight: bold;
	border-bottom: 0px #ffffff solid;
	margin:2;
	margin-bottom:0;
	padding-top:2;
	padding-left:6;
	padding-right:6;
}

.tabtitle a {
	color:#000000;
	text-decoration: none;
}



.smallmessage {
  font-size: 8pt;
  font-style: italic;
}


.tooltip-inner {
   border : 1px black solid;
   background-color : #FFFFCC;
   margin:0px;
}

.tooltip-link-inner {
   border : 1px black solid;
   margin:0px;
   padding:1px;
   background-color : #FFFFCC;
}

.tooltip-outer {
   margin:0px;
   position: absolute; 
   visibility: hidden; 
   z-index: 1;
}


.moreblock {
   visibility: hidden; 
   display:none;
}


.menu a:hover {
   text-decoration: underline;
}

a.menulink:hover {
   text-decoration: underline;
}

a.menulink {
   text-decoration: none;
   color:black;
}

.menu {
   padding:1px;
   text-decoration: none;
   border : 1px black solid;
   background-color : #FFFFCC;
   position: absolute; 
   visibility: hidden; 
   z-index: 1;

}


.floatdiv {
   position: absolute; 
   visibility: hidden; 
   z-index: 1;
   color: gray;
}

.selectdiv {
   position: absolute; 
   visibility: hidden; 
   z-index: 1;
   border: 1px #666666 solid;   
   background-color : #FFFFCC;
}



.pageheading {
  font-weight: bold;
  color: #9C9C9C;
}


.breadcrumbs {
   text-decoration: none;
   font-weight: bold;
   margin-bottom:0px;
}

.breadcrumbs a {
   text-decoration: none;
   color: #999999;
}

.breadcrumbs a:hover {
   text-decoration: underline;
   color: red;
}


.entryheader {
   font-weight: bold;
   font-size: 110%;
   color: #9C9C9C;
   border-bottom : 1px #666666 solid;
   margin-bottom:5px;
}




.entryname {
   font-size: 110%;
   padding-left:15px;
   font-weight: bold;
   vertical-align: bottom;
}

.entryname a:hover {
   text-decoration: underline;
   color:red;
}

.entryname a {
   color: #000000;
}

.hideshowblock {
   margin-top:5px;
}

.block {
   margin-top:5px;
}



.folderblock {
   margin:0px;
   padding:0px;
   padding-left:18px;
}

.folderblock li {
   margin:0px;
   padding:0px;   
}


.actionblock {
   xxmax-height: 50px; 
   xxoverflow-y: auto;
   margin:0px;
   padding:0px;
   padding-left:18px;
}

.actionblock li {
   margin:0px;
   padding:0px;   
}


.pagesubheading {
   margin:0px;
   padding:0px;
   padding-bottom: 0px;
   padding-left: 5px;
   padding-top: 0px;
   font-weight: bold;
   vertical-align: bottom;
   font-size: 12pt;
}



a.pagesubheadinglink {
   color:black;
   xfont-weight: bold;
   text-decoration: none;
}


a.pagesubheadinglink:visited {
   text-decoration: none;
}



form {
    margin:0px;
    padding: 0px;
}

.formlabel {
  font-weight: bold;
}


.formgroupheader {
   background-color : #ccccCC;
   font-size: 12pt;
   font-weight: bold;
   padding-left: 5px;
   padding-top: 5px;
}





.innernote {
   padding-top:10px;
}

.note {
  z-index: 1;
  margin:10px;
  padding-bottom:5px;
  padding-left:5px;
  border : 1px black solid;
  background-color : #FFFFCC;
}

.notetext {
}

.menuseparator {
	margin:2px;
	padding:0px;
}




.admin-block {
   margin-top:5px;
   padding-left:5;
   padding-bottom:5;
}

.admin-block-inner {
   margin-left:20px;
   background-color:#f9f9f9;
   border : 1px #aaaaaa solid;
}








.wiki-toc-wrapper {
    margin:10px;
}

.wiki-toc {
   margin-top:5px;
   border : 1px #aaaaaa solid;
   background-color:#f8f8f8;
   padding-left:5;
   padding-bottom:5;
}

.wiki-tocheader {
   font-weight: bold;
}

.wiki-h1, .wiki-h2, .wiki-h3, .wiki-h4, .wiki-h5, .wiki-h6 {
	color: black;
	background: none;
	font-weight: normal;
	margin: 0;
	padding-top: .5em;
	padding-bottom: .17em;
	border-bottom: 1px solid #aaa;
}
.wiki-h1 { font-size: 188%; }
.wiki-h2 { font-size: 150%; }
.wiki-h3, .wiki-h4, .wiki-h5, .wiki-h6 {
	border-bottom: none;
	font-weight: bold;
}
.wiki-h3 { font-size: 132%; }
.wiki-h4 { font-size: 116%; }
.wiki-h5 { font-size: 100%; }
.wiki-h6 { font-size: 80%;  }

.wiki-hr {
	height: 1px;
	color: #aaa;
	background-color: #aaa;
	border: 0;
	margin: .2em 0 .2em 0;
}




.wiki-link {
}


.wiki-link-external {
    background: url(${urlroot}/icons/wiki/external.png) center right no-repeat;
   padding-right: 13px;
}


.wiki-link-noexist {
	color:red;
}


a.wiki-link-noexist {
	color:#aa0000;
}

.cpYearNavigation,
	.cpMonthNavigation
			{
			background-color:#006699;
			xxxbackground-color:#6677DD;
			text-align:center;
			vertical-align:center;
			text-decoration:none;
			color:#FFFFFF;
			font-weight:bold;
			}
	.cpMonthNavigation  a {
        color: white;
        }
	.cpDayColumnHeader,
	.cpYearNavigation,
	.cpMonthNavigation,
	.cpCurrentMonthDate,
	.cpCurrentMonthDateDisabled,
	.cpOtherMonthDate,
	.cpOtherMonthDateDisabled,
	.cpCurrentDate,
	.cpCurrentDateDisabled,
	.cpTodayText,
	.cpTodayTextDisabled,
	.cpText
			{
			font-family:arial;
			font-size:8pt;
			}


	TD.cpDayColumnHeader
			{
			text-align:right;
			border:solid thin #6677DD;
			border-width:0 0 1 0;
			}
	.cpCurrentMonthDate,
	.cpOtherMonthDate,
	.cpCurrentDate
			{
			text-align:right;
			text-decoration:none;
			}
	.cpCurrentMonthDateDisabled,
	.cpOtherMonthDateDisabled,
	.cpCurrentDateDisabled
			{
			color:#D0D0D0;
			text-align:right;
			text-decoration:line-through;
			}
	.cpCurrentMonthDate
			{
			color:#6677DD;
			font-weight:bold;
			}
	.cpCurrentDate
			{
			color: #FFFFFF;
			font-weight:bold;
			}
	.cpOtherMonthDate
			{
			color:#808080;
			}
	TD.cpCurrentDate
			{
			color:#FFFFFF;
			background-color: #6677DD;
			border-width:1;
			border:solid thin #000000;
			}
	TD.cpCurrentDateDisabled
			{
			border-width:1;
			border:solid thin #FFAAAA;
			}
	TD.cpTodayText,
	TD.cpTodayTextDisabled
			{
			border:solid thin #6677DD;
			border-width:1 0 0 0;
			}
	A.cpTodayText,
	SPAN.cpTodayTextDisabled
			{
			height:20px;
			}
	A.cpTodayText
			{
			color:#6677DD;
			font-weight:bold;
			}
	SPAN.cpTodayTextDisabled
			{
			color:#D0D0D0;
			}
	.cpBorder
			{
			border:solid thin #6677DD;
			}