body {
   font-size: 12pt;
   font-family: Arial, Helvetica, sans-serif;       
   color: black;
   margin: 0px;
}

.input, .password, .fileinput,.textarea,.select {
  border : 1px #888888 solid;
}



//.input, .password, .fileinput,.textarea {
//  background: #eff8ff;
//}


.required {
   background: #ffaaaa;
}


.requireddisabled {
        border : 0px #888888 solid;
        background: #ffaaaa;
}

.requiredlabel {
   color: #ff0000;
}

.input:focus, .textarea:focus {
	background: #fffeec;
}

.userfield {
       PADDING-LEFT: 18px;

        border : 1px #888888 solid;
	background: URL(${urlroot}/icons/user.png) no-repeat;
	background-position: 1px 1px;
}



.disabledinput {
        border : 0px #888888 solid;
	background: #dfdfdf;
}


.plain {
    font-size:12px;
    font-weight: normal;
}

.hidden {
   visibility: hidden; 
   display:none;
}

.hiddeninput {
  border :none;
}

.logo {
   margin: 5px;
   align:center;
   text-align:center;
}

.errorlabel {
    color:#F00;
    font-weight: bold;
}

.submit {
  margin-left:3px;
  margin-right:3px;
}


a {
   color: #0000FF;
   text-decoration: none;
}

a:link {
   color: #0000FF;
}


a:hover {
   color: #FF0000;
   text-decoration: underline;
}





.footer {
   margin:10px;
   align:center;
   text-align:center;
}

.entryrowlabel {
    font-style:italic;
    font-size:9px;
    white-space:nowrap;
}

.time {
	font-size:8px;
        color:#666;
	font-style:italic;
	margin:0;
	white-space:nowrap;
}


.entryrow {
  margin-top:2px;
  border:1px #fff solid;
}

.inline {
	max-height: 300px; 
	overflow-y: auto;
}

.folderblock {
   border : 0px;
   margin:0px;
   padding:0px;
   padding-left:12px;
}




.header {
  border-bottom : 1px black solid;
  background-repeat: no-repeat;
  background-color:#006699;
  color: white;
  padding-top:12px;
  padding-left:5px;
  padding-right:5px;
}




a.header  {
	color:white;
}

.header a:hover  {
	color:red;
}


.entrylistform {
  font-size: 11px;
}

.stack {
  background-color : #eee;
  border: 1px #666666 solid;
  margin-left:10px;
}

.sortlinkon  {
  font-size: 10pt;
  background-color : #eee;
  font-weight: bold;
  padding-left:2px;
  padding-right:2px;
}

.sortlinkoff  {
  font-size: 10pt;
  padding-left:2px;
  padding-right:2px;
}

.sortlinkoff a {
   font-size: 10pt;
   color:black;
   text-decoration: none;
}


.header a {
	color:white;
}



.content {
}

.header-content {
  color: white;
}

.smalllink {
  font-size:80%;
}
.smallhelp {
   font-size: 9pt;
}

.header-title {
  font-size: 200%;
  color: white;
}


.arrow {
      margin-right: 2px;
      margin-bottom:4px;
}


.nav {
   font-weight: bold;
   color: black;
}

.metadatagroup {
  border : 1px #888888 solid;
  background-color : #eeeeee;
  margin-left: 20px;
}




################################################################################
## Styles for the default template
################################################################################




.subnav a:hover  {
	color:red;
}

.subnav {
   padding-top:4;   
   padding-left:4;   
   background-color : #c3d9ff;
   font-weight: bold;
   color: black;
   border-bottom : 1px #666666 solid;
}





.curve {
   vertical-align: top;
}

.subnavoncomp  {
   background-color : #ffffff;
   border-bottom : 1px #FFFFff solid;
   color:#000000;
}

.subnavoffcomp  {
   color:#000000;
   padding-left:7;   
   padding-right:7;   
}







.subnavoffcomp  a {
   color:#000000;
}

a.subnavoffcomp  {
   color:#000000;
}

.subnavoffcomp a:visited {
   color:#000000;
}


.subnavoffcomp a:hover {
   color:red;
}



.header-left {
  border-bottom : 2px #888888 solid;
  background-color:#006699;
  color: white;
  padding-top:10px;
  padding-left:5px;
  padding-right:5px;
}

a.header-left  {
    color:white;
}

.header-left a:hover  {
    color:red;
}

.header-left-title {
  font-size: 200%;
  color: white;
}

.header-left a {
	color:white;
}

.nav-left {
   font-weight: bold;
   color: black;
}



.subnav-left {
   margin:0;
   padding:0;
   background-color : #c3d9ff;
   font-weight: bold;
   color: black;
   min-height: 500px;
}


.subnavoncomp-left  {
   font-weight: bold;
   border-bottom : 1px #666666 solid;
   color:#000000;
   margin:0;
   background-color : #ffffff;
   color:#000000;
   padding-left:5;   
   padding-top:2px;   
   padding-bottom:1px;   
}

.subnavoffcomp-left  {
   font-weight: bold;
   color:red;
   border-bottom : 1px #666666 solid;
   margin:0;
   padding-left:5;   
   padding-top:2px;   
   padding-bottom:1px;   
   color:#000000;
}


.subnavoffcomp-left  a {
   color:#000000;
}


.subnavoffcomp-left a:visited {
   color:#000000;
}


.subnavoffcomp-left a:hover {
   color:red;
}







.wiki-infobox {
   margin-top:5px;
   border : 1px #aaaaaa solid;
   background-color:#f8f8f8;
   padding-left:5;
   padding-bottom:5;
}

.wiki-infobox-title {
   font-weight: bold;
}

.wiki-infobox-entry-title {
   font-weight: bold;
}




.cimg {
    text-align:center;
    margin-top: 20;
    margin-bottom: 40;
}

.caption {
    text-align:center;
    font-style:italic;
}

.pagetitle {
    font-size: 18pt;
    font-weight: bold;
    color: #8080C0;
    margin-top: 15;
    margin-bottom: 5;
}

.pagesubtitle {
    font-size: 14pt;
    font-weight: bold;
    color: #8080C0;
    margin-top: 10;
    margin-bottom: 5;
}

.childlist-level {
    font-weigt:bold;
    font-size: 14pt;
    color: #8080C0;
    margin-top: 10;
    margin-bottom: 5;
}

.childlist {
    margin: 10;
    margin-left: 30;
}



.pagesubsubtitle {
    font-size: 12pt;
    font-weight: bold;
    color: #8080C0;
    margin-top: 5;
    margin-bottom: 5;
}






.wiki-categories {
   border: 1px #999999 solid; 
   padding:4px;
}

.wikicompare-deleted {
	background: #ffa;
	font-size: smaller;
}



.wikicompare-context {
	background: #eee;
	font-size: smaller;
}

.wikicompare-added {
	background: #cfc;
	font-size: smaller;
}


.wikicompare-lineheader {
    padding-top:10px;
    font-weight: bold;
}

.wikicompare {
    max-width: 50%; 
    overflow-x: automatic;
    background-color:white;
}


.wikicontent {
     margin:0px;
     padding:0px;
}


.mapcanvas {
	width:200px;
	height:200px;
}

.calheader {
   padding-top:10px;
   padding-left:10px;
   background-color:#c3d9ff;
   font-weight: bold;
}

.calday {
   font-weight: bold;
   font-size: 8pt;
}

.calentry {
}

.calcontents {
	max-height: 150px; 
	overflow-y: auto;
	overflow-x: hidden;
}

.calnav {
}

.calnavmonthheader {
   text-align:center;
   background-color:#c3d9ff;
   font-weight: bold;
   font-size: 8pt;

}

.calnavdayheader {
   text-align:center;
   background-color:#c3d9ff;
   font-weight: bold;
   font-size: 8pt;
}

.calnavday {
   text-align:right;
   font-size: 8pt;
   background-color:#c3d9ff;
   padding-left:20px;
   padding-top:5px;
}

.calnavtheday {
   text-align:right;
   font-size: 8pt;
   background-color:#fff;
   padding-left:20px;
   padding-top:5px;
}

.calnavoffday {
   text-align:right;
   font-size: 8pt;
   background-color:#cccccc;
   padding-left:20px;
   padding-top:5px;
}



.browseblock  a {
   color:#000000;
}

.listrow1 {
   padding:2px;
   padding-bottom:0px;
}

.listrow2 {
   background-color:#edf5ff;
   padding:2px;
   padding-bottom:0px;
}


.description {
   margin-left:20px;
   margin-bottom:10px;
}


.browseblock {
   margin-left:20px;
   border: 2px #999999 solid; 
   max-width: 90%; 
   max-height: 150px; 
   overflow-y: auto;
   overflow-x: visible;

}

.scrollablediv {
   max-height: 350px; 
   overflow-y: auto;
}

.serverdiv {
   max-height: 350px; 
   overflow-y: auto;
   margin-left:20px;

}


td {
   font-size:12px;
   font-weight: normal;
}



.separator {
   font-size: 9pt;
//   font-weight: bold;
//   color:#666666;
}


ul {
   margin-top:5px;
}

.tab_titles {
   margin:0px;
   padding:0px;
}

.tab_contents {
   border-left : 1px #000000 solid;
   border-right : 1px #000000 solid;
   border-bottom : 1px #000000 solid;
   border-top : 1px #000000 solid;
   margin:0px;
   padding:0px;



}

.tab_contents_noborder {
   border-top : 1px #000000 solid;
}

.tab_content_fixedheight_off {
   min-height: 100px;
   max-height: 200px; 
   overflow-y: auto;
   padding:5;
}



.tab_content_fixedheight_on {
   background-color:#ffffff;
   min-height: 100px;
   max-height: 200px; 
   overflow-y: auto;
   padding:5;
}


.tab_content_off {
   padding:5;
}

.tab_content_on {
   background-color:#ffffff;
   padding:5;
}


.tab_title_on {
   background-color:#ffffff;
   border: 1px #000 solid;
   border-bottom:2px #ffffff  solid;
   font-weight: bold;
   margin-bottom:0px;
   margin-left:3px;
   margin-right:3px;
   padding-bottom:0;
   padding-top:2;
   padding-left:6;
   padding-right:6;
}


.tab_title_off {
   background-color:#dddddd;
   border-left: 1px #000000 solid;
   border-right: 1px #000000 solid;
   border-top: 1px #000000 solid;
   border-bottom:1px #000000  solid;

   font-weight: bold;
   margin-left:3px;
   margin-right:3px;
   margin-bottom:1px;

   padding-bottom:0;
   padding-top:2;
   padding-left:6;
   padding-right:6;

}



.tab_title_on a {
	color:#000000;
	text-decoration: none;
}


.tab_title_off a {
	color:#000000;
	text-decoration: none;
}



.smallmessage {
  font-size: 8pt;
  font-style: italic;
}


.tooltip-inner {
   padding:2px;
   padding-bottom:0px;
   padding-right:0px;
//   border : 1px dotted #ccc;
//   border-top : 0px dotted #ccc;
   background-color : #f6f6f6;
//   background-color : #edf5ff;

   margin:0px;
}

.tooltip-link-inner {
   border : 1px black solid;
   margin:0px;
   padding:1px;
   background-color : #ffffff;
}

.tooltip-outer {
   margin:0px;
   position: absolute; 
   visibility: hidden; 
   z-index: 1;
}


.moreblock {
   visibility: hidden; 
   display:none;
}


.popup a:hover {
   text-decoration: underline;
}

.entrymenuarrow {
  padding-left:5px;
  padding-right:5px;
}

.menurow {
}

.menuentryseparator {
    margin:2px;
    margin-bottom:3px;
    padding:0px;
    width: 100%;
    height:1px;
}

.menutd {
   margin-left:2px;
   margin-right:2px;
   margin-top:1px;
   margin-bottom:1px;
   padding-bottom:2px;
}




a.menulink:hover {
   text-decoration: underline;
}

a.menulink {
   text-decoration: none;
   color:black;
}

.popup {
   padding:1px;
   text-decoration: none;
   border : 1px #000 solid;
   background-color : #FFFFFF;
   position: absolute; 
   visibility: hidden; 
   z-index: 1;
//Shadow effect
  /* offset left, top, thickness, color with alpha */
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  /* IE */
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color='gray');
  /* slightly different syntax for IE8 */
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color='gray')";
}


.image_edit_box {
   border : 3px red solid;
   #padding:10px;
   #margin:10px;
   #background-color : black;
   position: absolute; 
   visibility: hidden; 
   z-index: 1;
}



.latlon_box {
   border : 3px red solid;
   padding:0px;
   margin:0px;
   #background-color : black;
   position: absolute; 
   visibility: hidden; 
   #z-index: 1;
}



code.menu {
         font-size: 11pt;
         font-family: SansSerif, Arial, Helvetica, sans-serif;       
         font-weight: bold;
}


.floatdiv {
    filter:alpha(opacity=80);
    -moz-opacity:0.80;
     -khtml-opacity: 0.80;
     opacity: 0.80;

   position: absolute; 
   visibility: hidden; 
   z-index: 1;

   background-color:     #67a7e3;
   border: 1px #666666 solid;   
   color: #fff;
   padding:4px;
  font-weight: bold;
}

.selectdiv {
   position: absolute; 
   visibility: hidden; 
   z-index: 1;
   border: 1px #666666 solid;   
   background-color : #FFFFCC;
}



.pageheading {
  font-size: 14pt;
  font-weight: bold;
  color: #9C9C9C;
}


.breadcrumbs {
   font-size: 12pt;
   text-decoration: none;
   margin-bottom:1px;
}

.breadcrumbs a {
   text-decoration: none;
   color: #000;
}

.breadcrumbs a:hover {
   text-decoration: underline;
   color: red;
}


.content {
  border: 1px #aaa solid;
  min-height:800px;
  margin:0;
  margin-right:5px;
  background-color:#ffffff;
}


.entrymenubar {
   background-repeat: repeat-x;
   background-image:url(${urlroot}/images/gradient.jpg);
   padding-left:10px;
   padding-right:10px;
   padding-top:5px;
   padding-bottom:1px;
   margin-bottom:2px;
   border-bottom: 1px #aaa solid; 
}


.entryheader {
//   font-weight: bold;
   font-size: 12pt;
   border-bottom : 1px #ddd solid;
   margin-bottom:5px;
}

.entrymenulink {
    font-size: 12pt;
    color: #000000;
    font-weight: bold;
}


.entrymenubar a {
   text-decoration: none;
   color:#000000;
}


.entrymenulink a {
   text-decoration: none;
}

 .entrymenulink a:hover {
   color:#000000;
}


.entrymenubar a:hover {
   text-decoration: underline;
   color:#ff0000;
}







.entryname {
   font-size: 12pt;
   padding-left:15px;
   font-weight: bold;
   vertical-align: bottom;
}

.entryname a:hover {
   text-decoration: underline;
   color:red;
}

.entryname a {
   color: #000000;
}


.menuseparator {
   margin-left:2px;
   margin-right:2px;
   padding-bottom:2px;
}


.navlink {
   margin-top: 2px;
}

.navlink a:link {
   color:black;
}




.hideshowblock {
   margin-top:5px;
}

.block {
   margin-top:2px;
}


.serverblock {
   max-height: 100px; 
   overflow-y: auto;
   margin-left: 20px;
}



.actionblock {
   margin:0px;
   padding:0px;
   padding-left:18px;
}

.actionblock li {
   margin:0px;
   padding:0px;   
}


.pagesubheading {
   margin:0px;
   padding:0px;
   padding-bottom: 0px;
   padding-left: 5px;
   padding-top: 0px;
   font-weight: bold;
   vertical-align: bottom;
   font-size: 12pt;
}


a.pagesubheadinglink {
   color:black;
   text-decoration: none;
}


a.pagesubheadinglink:visited {
   text-decoration: none;
}

a.toggleblocklabellink {
   color:black;
   text-decoration: none;
}


a.toggleblocklabellink:visited {
   text-decoration: none;
}


.toggleblocklabel {
  font-weight: bold;
}



form {
    margin:0px;
    padding: 0px;
}

.formlabel, .formlabeltop {
  font-size: 11px;
  font-weight: bold;
}

.formlabeltop {
   padding-top:6px;
}


.formgroupheader {
   background-color : #ccccCC;
   font-size: 11pt;
   font-weight: bold;
   padding-left: 5px;
   padding-top: 5px;
}





.innernote {
   padding-top:10px;
}


.note {
  z-index: 1;
  margin:10px;
  padding-bottom:5px;
  padding-left:5px;
  border : 1px black solid;
  background-color : #ffffcc;
//Shadow effect
  /* offset left, top, thickness, color with alpha */
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  /* IE */
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color='gray');
  /* slightly different syntax for IE8 */
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color='gray')";
}




.notetext {
}




.admin-block {
   margin-top:5px;
   padding-left:5;
   padding-bottom:5;
}

.admin-block-inner {
   margin-left:20px;
   background-color:#f9f9f9;
   border : 1px #aaaaaa solid;
}

.wiki-toc-wrapper {
    margin:10px;
}

.wiki-toc {
   margin-top:5px;
   border : 1px #aaaaaa solid;
   background-color:#f8f8f8;
   padding-left:5;
   padding-bottom:5;
}

.wiki-tocheader {
   font-weight: bold;
}

.wiki-block {
   margin-top:5px;
   border : 1px #aaaaaa solid;
   background-color:#f8f8f8;
   padding-left:5;
   padding-bottom:5;
}

.wiki-blockheader {
   font-weight: bold;
}

.wiki-h1, .wiki-h2, .wiki-h3, .wiki-h4, .wiki-h5, .wiki-h6 {
	color: black;
	background: none;
	font-weight: normal;
	margin: 0;
	padding-top: .5em;
	padding-bottom: .17em;
	border-bottom: 1px solid #aaa;
}
.wiki-h1 { font-size: 188%; }
.wiki-h2 { font-size: 150%; }
.wiki-h3, .wiki-h4, .wiki-h5, .wiki-h6 {
	border-bottom: none;
	font-weight: bold;
}
.wiki-h3 { font-size: 132%; }
.wiki-h4 { font-size: 116%; }
.wiki-h5 { font-size: 100%; }
.wiki-h6 { font-size: 80%;  }

.wiki-hr {
	height: 1px;
	color: #aaa;
	background-color: #aaa;
	border: 0;
	margin: .2em 0 .2em 0;
}





.wiki-link {
}


.wiki-link-external {
    background: url(${urlroot}/icons/wiki/external.png) center right no-repeat;
   padding-right: 13px;
}


.wiki-link-noexist {
	color:red;
}


a.wiki-link-noexist {
	color:#aa0000;
}

.cpYearNavigation,
	.cpMonthNavigation
			{
			background-color:#006699;
			text-align:center;
			vertical-align:center;
			text-decoration:none;
			color:#FFFFFF;
			font-weight:bold;
			}
	.cpMonthNavigation  a {
        color: white;
        }
	.cpDayColumnHeader,
	.cpYearNavigation,
	.cpMonthNavigation,
	.cpCurrentMonthDate,
	.cpCurrentMonthDateDisabled,
	.cpOtherMonthDate,
	.cpOtherMonthDateDisabled,
	.cpCurrentDate,
	.cpCurrentDateDisabled,
	.cpTodayText,
	.cpTodayTextDisabled,
	.cpText
			{
			font-family:arial;
			font-size:8pt;
			}


	TD.cpDayColumnHeader
			{
			text-align:right;
			border:solid thin #6677DD;
			border-width:0 0 1 0;
			}
	.cpCurrentMonthDate,
	.cpOtherMonthDate,
	.cpCurrentDate
			{
			text-align:right;
			text-decoration:none;
			}
	.cpCurrentMonthDateDisabled,
	.cpOtherMonthDateDisabled,
	.cpCurrentDateDisabled
			{
			color:#D0D0D0;
			text-align:right;
			text-decoration:line-through;
			}
	.cpCurrentMonthDate
			{
			color:#6677DD;
			font-weight:bold;
			}
	.cpCurrentDate
			{
			color: #FFFFFF;
			font-weight:bold;
			}
	.cpOtherMonthDate
			{
			color:#808080;
			}
	TD.cpCurrentDate
			{
			color:#FFFFFF;
			background-color: #6677DD;
			border-width:1;
			border:solid thin #000000;
			}
	TD.cpCurrentDateDisabled
			{
			border-width:1;
			border:solid thin #FFAAAA;
			}
	TD.cpTodayText,
	TD.cpTodayTextDisabled
			{
			border:solid thin #6677DD;
			border-width:1 0 0 0;
			}
	A.cpTodayText,
	SPAN.cpTodayTextDisabled
			{
			height:20px;
			}
	A.cpTodayText
			{
			color:#6677DD;
			font-weight:bold;
			}
	SPAN.cpTodayTextDisabled
			{
			color:#D0D0D0;
			}
	.cpBorder
			{
			border:solid thin #6677DD;
			}